.formgroupImg_erweima{
    .display_inlineBlcok{
        width: 150px;
        height: 150px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
.modalMap {
  height: 300px;
  height: 25rem;
}
#ModalPwd{
    .form-group{
        margin-bottom: 0;
        label{
            font-size: 14px;
            font-size: 1.4rem;
        }
    }
    .btn_pwdType{
        padding-bottom: 15px;
        .clickActive{
            background: #69a2b5;
            color: #fff;
        }
    }
    .modalDialog_pwd{
        width: 380px;
    }
}
